
@{
    Layout = null;
}
@using WeFunModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
    <title>编辑用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Content/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/Content/css/public.css" media="all">
    <script src="/Content/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        layui.use(['form'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer;


            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '用户名至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            $("#btnEdit").click(function () {
                var o = new Object();
                o.ConID = $("#conid").val();
                o.ID = $("#id").val();
                o.JoinDate = $("#joinDate").val();
                o.LeaveDate = $("#leaveDate").val();
                o.ConBeginDate = $("#conBeginDate").val();
                o.ConEndDate = $("#conEndDate").val();
                o.ConRemake = $("#conRemake").val();;

                $.post("/LabourArea/Contract/editUser", o, function (d) {
                    if (d == "Success") {
                        layer.msg("修改成功！"), {
                            title:'最终的提交信息'
                        }, function () {
                            layer.close(index);
                            //var iframeIndex = parent.layer.get
                            parent.location.reload();
                        }
                    }
                    else {
                        layer.msg("修改失败！");
                    }
                });
            });

            //监听提交
            //form.on('submit(step)', function (data) {
            //    //layer.msg(data.field);

            //    //layer.alert(JSON.stringify(data.field), {
            //    //    title: '最终的提交信息'
            //    //})
            //    //return false;
            //});
        });
    </script>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form" action="" lay-filter="example">
                @{Contract uinfo = ViewBag.sysrole;}
                <input type="text" id="conid" style="display:none" value="@uinfo.ConID">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户编号</label>
                    <div class="layui-input-block">
                        <input type="text" id="id" name="username" lay-verify="title" autocomplete="off" value="@uinfo.ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">签约时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="joinDate" name="username" lay-verify="title" autocomplete="off" value="@uinfo.JoinDate" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">到期时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="leaveDate" name="password" value="@uinfo.LeaveDate" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="conBeginDate" name="nickname" lay-verify="title" autocomplete="off" value="@uinfo.ConBeginDate" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="conEndDate" name="nickname" lay-verify="title" autocomplete="off" value="@uinfo.ConEndDate" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" id="conRemake" name="nickname" lay-verify="title" autocomplete="off" value="@uinfo.ConRemake" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        @*<button class="layui-btn" lay-submit="" lay-filter="step">立即提交</button>*@
                        <input class="layui-btn" id="btnEdit" value="立即提交" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
